<div class="test">

  <h1>About Bloccit</h1>
  <p>Created by: Alan Campbell</p>

  <a href="https://www.facebook.com/profile.php?id=100010175296926">
    <img src="http://www.adweek.com/prnewser/wp-content/uploads/sites/8/2015/07/facebook-status.jpg"
    class="social-btn"> 
  </a>
</div>
